.all{
    background-color: #EBEBEB;
    height: 100vh;
    width: 100vw;
}

.content{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile{
    height: 60vh;
    width: 33vw;
    border-radius: 15px;
    background: #F6F6F6;
    box-shadow:  13px 13px 10px #cacaca,
                -13px -13px 10px #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica-Bold;
    font-size: 30px;
    width: 30vw;
    border-bottom: 1px solid #C8C8C8;
}