.all{
    height: 100vh;
    width: 100vw;
    background-color: #EBEBEB;
}

.content{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.tileInfos{
    height: 40vh;
    width: 20vw;
    border-radius: 15px;
    background: #F6F6F6;
    box-shadow:  13px 13px 10px #cacaca,
                -13px -13px 10px #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.headerInfos{
    display: flex;
    align-items: center;
    width: 20vw;
    height: 10vh;
    border-bottom: 1px solid #EBEBEB;
}

.pName{
    margin: 0%;
}

.pNameF{
    margin: 0%;
    font-family: Helvetica-Bold;
}

.Pp{
    height: 6vh;
    width: 6vh;
    border-radius: 3vh;
    margin-left: 1vw;
    margin-right: 1vh;
}

.avisAndSearch{
    height: 40vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.up{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avis{
    height: 33vh;
    width: 75vw;
    border-radius: 15px;
    background: #F6F6F6;
    box-shadow:  13px 13px 10px #cacaca,
                -13px -13px 10px #ffffff;
}

.searchB{
    height: 5vh;
    width: 72.5vw;
    border-style: none;
    background: none;
    border-radius: 15px 0px 0px 15px;
    background: #e5e5e5;
    box-shadow: inset 15px 15px 10px #d7d7d7,
                inset -15px -15px 10px #fdfdfd;
    font-family: Helvetica-Bold;
    padding-left: 30px;
}

.btnSearch{
    height: 5vh;
    width: 5vh;
    border-style: none;
    background: none;
    border-radius: 0px 15px 15px 0px;
    background: #F6F6F6;
    box-shadow:  2px 2px 10px #cacaca,
                -2px -2px 10px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divSearch{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divtools{
    margin-top: 2vh;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.divAddArticle{
    height: 38vh;
    width: 38vh;
    background: #dedede;
    box-shadow:  2px 2px 10px #cacaca,
                -2px -2px 10px #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerTool{
    width: 98vw;
    height: 40vh;
    border-radius: 15px;
    background: #F6F6F6;
    box-shadow:  2px 2px 10px #cacaca,
                -2px -2px 10px #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edit{
    background: none;
    border-style: none;
    border-radius: 15px;
    background-color: #63859E;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.middleInfos{
    margin: 0%;
    margin-left: 15px;
}

.p{
    margin: 0%;
}

.divNote{
    margin-left: 15px;
}

.plus{
    height: 5vh;
}

.divPlus{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;
    border: 1px solid #FEBD59;
    margin-bottom: 15px;
}

.add{
    font-family: Helvetica-Bold;
}

/* modalEdit */

.modaleHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #FEBD59;
    width: 85%;
    height: 7vh;
    margin-bottom: 30px;
}

.modaleAll{
    border-style: none;
    border-radius: 15px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.inputUnit{
    width: 15vw;
    margin: 15px;
    border-style: none;
    background: none;
    height: 4vh;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: inset 10px 10px 25px #d7d7d7,
                inset -10px -10px 5px #fdfdfd; 
}

.btnLogs{
    width: 15vw;
    border-style: none;
    background: none;
    background-color: #FEBD59;
    border-radius: 15px;
    height: 4vh;
    margin: 15px;
}

.file{
    display: flex;
    width: 15vw;
    border-style: none;
    background: none;
    background-color: #FEBD59;
    border-radius: 15px;
}